<footer class="site_footer">
  <nav class="site_footer__contribute">
    Contribute: <a href="https://github.com/william-index/placemat" target="_blank"></a>
    Donate:     <a href="https://cash.me/$williamanderson" target="_blank"></a>
    Contact:    <a href="https://twitter.com/TheWAAnderson" target="_blank"></a>
  </nav>
  <p class="site_footer__copyright">&copy; {{ 'now' | date: "%Y" }} William Anderson</p>
</footer>

<!-- Scripts -->
<script src="{{ "/javascripts/angular.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>

<!-- Modules -->
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>

<!-- controllers -->
<script src="{{ "/javascripts/controllers/SideBar.js" | prepend: site.baseurl }}" type="text/javascript"></script>
