<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- displayed meta -->
  <title>Placemat</title>
  <meta name="description" content="A markup language made just for html tables.">

  <!-- Open Graph Protocol -->
  <meta property="og:title" content="Placemat" />
  <meta property="og:url" content="http://william-index.github.io/placemat/" />
  <meta property="og:image" content="http://william-index.github.io/placemat/placemat.png" />

  <!-- Style sheets -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400,300italic,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <!-- misc setup -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
