<nav class="side_bar">
  <a class="page" href="{{ "/index.html" | prepend: site.baseurl }}">About</a>
  <a class="page" href="{{ "/installation.html" | prepend: site.baseurl }}">Installation</a>
  <a class="page" href="{{ "/usage.html" | prepend: site.baseurl }}">Usage</a>

  <div class="hr"></div>

  {% for post in site.posts %}
    <h2>{{ post.title }}</h2>
    {% for sub in post.subs %}
      <a class="post" href="{{ post.url | prepend: site.baseurl }}#{{ sub | downcase | replace:' ','_' }}">{{ sub }}</a>
    {% endfor %}
  {% endfor %}

</nav>
