// ********************
// FILLS
// ********************
// Primary
$red: #d65b5b
$grey: #cecece
$pattern: url("images/patterns/bg.png")
// Secondary
$darkGrey: #757575
$darkGrey2: #959595
$lightGrey: #efefef
$nearWhite: #f7f7f7

// ********************
// FONTS
// ********************
$sans: 'Open Sans', arial, helvetica, sans-serif
$serif: Georgia, serif

// weights for $sans
$light: 300
$normal: 400
$bold: 600

// ********************
// Styles
// ********************
%shadow
  box-shadow: 0px 0px 5px 2px $grey
