// Styling for content well
.page_content
  box-sizing: border-box
  width: auto
  padding: 10vw
  h1
    font-family: $sans
    font-weight: $light
    color: $amethyst
    padding: 0px 0px 0.4em 0px
    font-size: 2.4em

  h2
    @extend h1
    font-size: 1.4em
    font-weight: $normal
    margin-bottom: -0.5em
    margin-top: 20px
  h3
    @extend h2
    color: black
    font-size: 1em
    text-transform: uppercase
    padding: 0.5em 0px 0px
    letter-spacing: 0.1em
    font-weight: $semi

  p
    font-family: $sans
    font-size: 1em
    line-height: 1.6em
    padding: 0.6em 0px
    color: $darkestGrey

  strong
    color: black

  em
    color: black

  .highlight
    box-sizing: border-box
    overflow: scroll
    padding: 1em
    margin: 1em 0px

  span.highlight
    padding: 0 0.4em
    margin: 0px

  .table_wrap
    width: 100%
    overflow: scroll
    padding: 1em 0px
  table
    border-collapse: collapse
    width: 100%
  th
    background: lighten($purple, 60%)
  th, td
    border: 1px solid $purple
    padding: 0.6em
    font-family: $sans
    font-size: 0.9em
    &.gold
      background: gold
    &.underline
      text-decoration: underline
    &.blue
      background: lighten(blue, 20%)
      color: white

+mq(m)
  .page_content
    float: left
    width: calc(100vw - 300px)
    max-width: 650px
    padding: 50px 0px
    margin-left: 50px + 200px
